/* General */

:root {
    --secondary-color: #be1f27;
    --sec-contrast-color: #6b0106;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    /* min-height: 100vh; */
}

/* .two-mb-screens {
    min-height: 200vh;
} */

/*--------------------------------------------------------------
# Page Nav
--------------------------------------------------------------*/

#page-nav {
    display: none;
    position: fixed;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    z-index: 9999;
}

#page-nav li {
    list-style: none;
    margin: 1rem 0;
}

#page-nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#page-nav a.selected .circle, #page-nav a.selected:hover .circle {
    width: 1rem;
    height: 1rem;
}

#page-nav .circle {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: all 300ms;
}

#page-nav a:hover .circle {
    width: 0.8rem;
    height: 0.8rem;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 100vh;
    background: #000 top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#intro:before {
    content: "";
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 0px;
}

#intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

#intro h1 span {
    color: #be1f27;
}

#intro p {
    color: #ebebeb;
    font-weight: 300;
    align-content: center;
}

/* About */

#about h2 {
    margin-bottom: 1rem;
}

#about hr {
    display: block;
    margin-right: auto;
    margin-left: 0;
}

/* #about-info {
    margin-bottom: 2rem;
} */

#about-info p {
    font-size: 1.1rem;
}

#about img {
    width: 100%;
    max-height: 70vh;
}

/* Specialty */

#specialty-info {
    padding: 1rem;
    height: 100%;
}

#specialty-info h3 {
    color: gray;
}

#specialty .category-cont {
    height: 100%
}

/* category card */

#specialty .category-card {
    transition: background-color 750ms;
    position: relative;
    height: 100%;
    min-height: 14rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specialty .category-card .category-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specialty .category-card .category-info img {
    width: 4.5rem;
    margin-bottom: 0.75rem;
}

#specialty .category-card .category-info p {
    font-size: 1rem;
    text-align: center;
}

#specialty .category-card .category-info .title {
    transition: color 750ms;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: 80%;
}

#specialty .category-card .category-info .info {
    transition: opacity 500ms;
    opacity: 0;
    display: none;
    color: gray;
    max-width: 80%;
}

#specialty .category-card button {
    transition: visibility 0s linear 0.5s, opacity 0.5s linear, background-color 500ms;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0rem;
    border-radius: 0;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

#specialty .category-card button img {
    max-height: 50%;
}

/* hover */

#specialty .category-card:hover .info, #specialty .category-card:hover button {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#specialty .category-card:hover .title {
    color: white;
}

#specialty .category-card:hover {
    background-color: black;
}

/* Modal */

.modal .modal-title {
    color: #3c3c3c;
}

.modal .modal-body ul li, .modal .modal-body b {
    font-size: 1.05rem;
    list-style: none;
}

.modal .modal-body ul li:before {
    content: '✓ ';
    color: green;
    font-weight: 900;
}

.modal .small-line {
    margin: 1rem;
    margin-top: 0;
    margin-left: 0.5rem;
}

@media (min-width: 600px) {
    .modal-dialog {
        max-width: 90%;
    }
}

/* Process */

#process h2 {
    margin-bottom: 2rem;
}

#process .img-cont {
    margin-top: 2rem;
}

#process .proc-comp {
    display: none
}

#process .proc-mob {
    display: block;
    margin: auto;
}

/* Project */

#project #filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#project h3 {
    margin-bottom: 2rem;
}

.filter-btn {
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    margin: 0.75rem;
    min-width: 7.5rem;
    text-transform: uppercase;
}

.filter-btn:hover, .filter-btn:focus {
    background-color: lightgray;
    box-shadow: 0 0 0 0;
}

.filter-btn.selected:hover {
    background-color: var(--sec-contrast-color);
}

.filter-btn.selected {
    background-color: var(--secondary-color);
    color: white;
}

.project-info {
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.project-info img {
    width: 100%;
    height: auto
}

.project-info p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.project-hover-div {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
}

.project-card:hover .project-hover-div {
    opacity: 1;
}

/* Client */

/* #client {
    padding-bottom: 5rem;
} */

#client-card-container {
    margin: 2rem 0;
}

.client-card {
    background-color: black;
    padding: 1rem;
    margin: 1px 1px;
    height: 99%;
    min-height: 8rem;
    transition: background-color 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-card:hover {
    background-color: var(--secondary-color);
    /* cursor: pointer; */
}

/* zoom in */

.client-card:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.client-card img {
    width: 80%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 750ms ease-in-out;
    transition: 750ms ease-in-out;
}

/* Certifications */

#certification .cert-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.cert-card img {
    width: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.cert-card .cert-text {
    display: flex;
    flex-direction: column
}

.cert-card .cert-text span {
    display: block;
    font-size: 1.25rem;
}

.cert-card .cert-text .cert-name {
    font-size: 1.75rem;
    font-weight: 900;
}

#main-cert-img {
    width: 100%;
    height: auto;
}

/* quote */

section#quote {
    padding: 2rem;
}

.quote-container .quote-content {
    max-width: 80%;
    text-align: center;
    display: block;
    margin: auto;
    font-style: italic;
}

.quote-container img {
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
}

.quote-container .quote-author {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    color: gray;
}

/* responsive section */

#responsive hr {
    margin-left: 0;
}

#responsive p {
    text-transform: uppercase;
    font-size: 2rem;
}

#responsive .img-cont {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

/* news section */

#news h2 {
    margin-bottom: 2rem;
}

#news .news-card {
    margin: 1px;
    position: relative;
    transition: opacity 250ms;
}

#news .news-card:hover {
    cursor: pointer;
    opacity: 0.9;
}

.news-card img {
    width: 100%;
    max-height: 10rem;
}

.news-card-info {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-card-info .timestamp {
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
}

.news-card .title {
    color: white;
    margin-bottom: 0;
}

/* contact */

#contact {
    min-height: 50vh;
}

#contact #contact-subtitle {
    color: #3c3c3c;
    margin-bottom: 2rem;
}

#contact-office, #contact-info {
    margin: 1rem 0;
}

#contact-office p, #contact-info p {
    margin: 0;
    font-size: 1.25rem;
}

#contact-office p {
    color: #3c3c3c;
}

#contact-info p {
    color: gray;
}

#contact-office b, #contact-info b {
    color: black;
}

#contact-office .title, #contact-info .title {
    color: black;
    text-transform: uppercase;
    margin-bottom: .5rem
}

#contact .form-group label {
    font-size: 1rem;
    margin-bottom: 0;
}

/* Media Query */

@media (min-width: 600px) {
    section {
        padding: 0;
        min-height: 100vh;
    }
    .two-mb-screens {
        min-height: 100vh;
    }
    #page-nav {
        display: block;
    }
    #main-cert-img {
        margin-top: -5rem;
        width: 100%;
        height: 125%;
    }
    .main-btn {
        font-size: 1.5rem;
    }
    #intro h1 {
        font-size: 4rem;
    }
    #intro p {
        max-width: 70%;
    }
    #about-info p {
        font-size: 1.3rem;
    }
    #specialty-info {
        border: 1px solid lightgray;
    }
    #process .proc-comp {
        display: block;
        margin: auto;
    }
    #process .proc-mob {
        display: none;
    }
    .cert-card .cert-text .cert-name {
        font-size: 3rem;
    }
    .cert-card .cert-text span {
        font-size: 1.5rem;
    }
    .cert-card img {
        width: 3.5rem;
    }
    .client-card {
        min-height: 17.5rem;
    }
    #responsive p {
        font-size: 3rem;
        text-align: start;
    }
    .news-card-info .timestamp {
        font-size: 1.25rem;
    }
    #contact .form-group label {
        font-size: 1.25rem;
    }
    .modal .modal-body ul li, .modal .modal-body b {
        font-size: 1.25rem;
    }
    .modal .small-line {
        margin: 3rem;
    }
}