<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AstraDev | Fiesta Mágica</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link href="../img/apple-touch-icon.png" rel="apple-touch-icon" />
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <!-- custom -->
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/project.css" rel="stylesheet" />

</head>

<body>
    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container-fluid">
            <div id="logo" class="pull-left">
                <a href="../index.html" class="scrollto"><img src="../img/logo/delado-01.png" alt="logo" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="../index.html#intro">Inicio</a></li>
                    <li><a href="../index.html#about">Nosotros</a></li>
                    <li><a href="../index.html#specialty">Especialidad</a></li>
                    <li><a href="../index.html#process">Procesos</a></li>
                    <li><a href="../index.html#project">Proyectos</a></li>
                    <li><a href="../index.html#client">Clientes</a></li>
                    <li><a href="../index.html#news">Noticias</a></li>
                </ul>
            </nav>

        </div>
        <!-- #nav-menu-container -->
    </header>
    <!-- #header -->


    <main id="main">

        <a id="return-link" href="../index.html#project">
            <i class="fa fa-long-arrow-left fa-4x" aria-hidden="true"></i>
        </a>

        <section id="project-intro">
            <img class="intro-img" src="../img/project/FiestaMagica-Detalle.png" />
            <div class="intro-info">
                <h1 class="title">Fiesta Mágica</h1>
                <hr class="small-line">
                <h2 class="category">Sitio web</h2>
                <a href="http://www.fiestamagica.mx/inicio" target="_blank">
                    <button class="btn main-btn">Visitar sitio</button>
                </a>
            </div>
        </section>

        <section id="project-info">
            <div class="container">
                <div class="inf-cont">
                    <div class="inf">
                        <h2>Roles</h2>
                        <p>Logo, UI/UX, Programación</p>
                    </div>
                    <div class="inf">
                        <h2>Fecha</h2>
                        <p>Marzo 9, 2019</p>
                    </div>
                    <div class="inf desc">
                        <h2>Descripción</h2>
                        <p>Proyecto enfocado a la renta de equipo para fiestas infantiles. La página cuenta con una
                            consola de administración para manejar todos los productos y servicios que ofrecen. </p>
                    </div>
                </div>
            </div>
        </section>

        <img class="img-fluid" src="../img/project/MockupFM.png" />

    </main>

    <!-- JavaScript Libraries -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/superfish/hoverIntent.js"></script>
    <script src="../lib/superfish/superfish.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/venobox/venobox.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Custom Javascript File -->
    <script src="../js/main.js"></script>
</body>

</html>